// 1. Colors
// Light palette
$lg-base-color-1: #ffffff;
$lg-base-color-2: #193b670d;

$lg-primary-color-1: #1676f3;
$lg-primary-color-2: #1676f3;
$lg-primary-color-3: #ffffff;

$lg-error-color-1: #ff4238;
$lg-error-color-2: #f52419;
$lg-error-color-3: #ffffff;

$lg-success-color-1: #15c15d;
$lg-success-color-2: #00a344;
$lg-success-color-3: #ffffff;

$lg-shade-color-1: #192434;
$lg-shade-color-2: #18273af0;
$lg-shade-color-3: #1a293dd4;
$lg-shade-color-4: #1b2b41b8;
$lg-shade-color-5: #1c2e4599;
$lg-shade-color-6: #1c304a80;
$lg-shade-color-7: #1c324f61;
$lg-shade-color-8: #1c345442;
$lg-shade-color-9: #1c375a29;
$lg-shade-color-10: #1a38601a;
$lg-shade-color-11: #193b670d;

$lg-text-color-1: #192434;
$lg-text-color-2: #18273af0;
$lg-text-color-3: #1b2b41b8;
$lg-text-color-4: #1c2e4599;
$lg-text-color-5: #1c304a80;
$lg-text-color-6: #1c345442;

//Dark palette
$dk-base-color-1: #223348;
$dk-base-color-2: #1b2b41b8;

$dk-primary-color-1: #2a7fef;
$dk-primary-color-2: #66a8ff;
$dk-primary-color-3: #ffffff;

$dk-error-color-1: #f6544c;
$dk-error-color-2: #ff5f57;
$dk-error-color-3: #ffffff;

$dk-success-color-1: #25b160;
$dk-success-color-2: #12de67;
$dk-success-color-3: #ffffff;

$dk-shade-color-1: #f5f9ff;
$dk-shade-color-2: #ebf4ffe5;
$dk-shade-color-3: #e2eefecc;
$dk-shade-color-4: #d9e8fcb2;
$dk-shade-color-5: #d1e3fa99;
$dk-shade-color-6: #c9ddf880;
$dk-shade-color-7: #c1d8f569;
$dk-shade-color-8: #bad2f252;
$dk-shade-color-9: #b4cdee3b;
$dk-shade-color-10: #adc8eb24;
$dk-shade-color-11: #c0d5f20f;

$dk-text-color-1: #f5f9ff;
$dk-text-color-2: #ebf4ffe5;
$dk-text-color-3: #d9e8fcb2;
$dk-text-color-4: #d1e3fa99;
$dk-text-color-5: #c9ddf880;
$dk-text-color-6: #bad2f252;
