<div class="p-grid">
    <jeff-dev-input label="Field example 1" helpText="Enter your username to reset your password."></jeff-dev-input>
    <jeff-dev-input label="Field example 2" [disabled]="true" value="test"></jeff-dev-input>
    <jeff-dev-input label="Field example 3" [disabled]="true"></jeff-dev-input>
    <jeff-dev-input label="Field example 4" helpText="Enter your username to reset your password." value="Value test">
    </jeff-dev-input>
    <jeff-dev-input label="Password example" type="password"></jeff-dev-input>
    <jeff-dev-input label="Test leftIcon" type="text" leftIcon="pi pi-eye" (leftIconClick)="iconClick('Left')">
    </jeff-dev-input>
    <jeff-dev-input label="Test rigthIcon" type="text" rigthIcon="pi pi-eye" (rigthIconClick)="iconClick('Rigth')">
    </jeff-dev-input>
</div>
<div class="p-grid">
    <jeff-dev-button label="Primary button"></jeff-dev-button>
    <jeff-dev-button label="Primary error button" color="primary-error"></jeff-dev-button>
    <jeff-dev-button label="Primary success button" color="primary-success"></jeff-dev-button>
    <jeff-dev-button label="Primary contrast button" color="primary-contrast"></jeff-dev-button>
    <jeff-dev-button label="Secondary button" color="secondary"></jeff-dev-button>
    <jeff-dev-button label="Secondary error button" color="secondary-error"></jeff-dev-button>
    <jeff-dev-button label="Secondary success button" color="secondary-success"></jeff-dev-button>
    <jeff-dev-button label="Secondary contrast button" color="secondary-contrast"></jeff-dev-button>
    <jeff-dev-button label="Tertiary button" color="tertiary"></jeff-dev-button>
    <jeff-dev-button label="Tertiary error button" color="tertiary-error"></jeff-dev-button>
    <jeff-dev-button label="Tertiary success button" color="tertiary-success"></jeff-dev-button>
    <jeff-dev-button label="Tertiary contrast button" color="tertiary-contrast"></jeff-dev-button>
</div>
<div class="p-grid">
    <jeff-dev-button label="Icon button with text" icon="pi pi-search"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" label="Primary error button" color="primary-error"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" color="primary-error"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" label="Primary success button" color="primary-success"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" color="primary-success"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" label="Primary contrast button" color="primary-contrast"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" color="primary-contrast"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" label="Secondary button" color="secondary"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" color="secondary"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" label="Secondary error button" color="secondary-error"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" color="secondary-error"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" label="Secondary success button" color="secondary-success"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" color="secondary-success"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" label="Secondary contrast button" color="secondary-contrast"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" color="secondary-contrast"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" label="Tertiary button" color="tertiary"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" color="tertiary"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" label="Tertiary error button" color="tertiary-error"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" color="tertiary-error"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" label="Tertiary success button" color="tertiary-success"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" color="tertiary-success"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" label="Tertiary contrast button" color="tertiary-contrast"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" color="tertiary-contrast"></jeff-dev-button>
</div>

<div class="p-grid">
    <jeff-dev-button label="Primary button disabled" [disabled]="true"></jeff-dev-button>
    <jeff-dev-button label="Primary error button disabled" [disabled]="true" color="primary-error"></jeff-dev-button>
    <jeff-dev-button label="Primary success button disabled" [disabled]="true" color="primary-success"></jeff-dev-button>
    <jeff-dev-button label="Primary contrast button disabled" [disabled]="true" color="primary-contrast"></jeff-dev-button>
    <jeff-dev-button label="Secondary button disabled" [disabled]="true" color="secondary"></jeff-dev-button>
    <jeff-dev-button label="Secondary error button disabled" [disabled]="true" color="secondary-error"></jeff-dev-button>
    <jeff-dev-button label="Secondary success button disabled" [disabled]="true" color="secondary-success"></jeff-dev-button>
    <jeff-dev-button label="Secondary contrast button disabled" [disabled]="true" color="secondary-contrast"></jeff-dev-button>
    <jeff-dev-button label="Tertiary button disabled" [disabled]="true" color="tertiary"></jeff-dev-button>
    <jeff-dev-button label="Tertiary error button disabled" [disabled]="true" color="tertiary-error"></jeff-dev-button>
    <jeff-dev-button label="Tertiary success button disabled" [disabled]="true"color="tertiary-success"></jeff-dev-button>
    <jeff-dev-button label="Tertiary contrast button disabled" [disabled]="true"color="tertiary-contrast"></jeff-dev-button>
</div>

<div class="p-grid">
    <jeff-dev-button label="Icon button with text" icon="pi pi-search" [disabled]="true"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" label="Primary error button disabled" [disabled]="true" color="primary-error"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" color="primary-error"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" label="Primary success button disabled" [disabled]="true" color="primary-success"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" color="primary-success"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" label="Primary contrast button disabled" [disabled]="true" color="primary-contrast"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" color="primary-contrast"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" label="Secondary button disabled" color="secondary"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" color="secondary"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" label="Secondary error button disabled" color="secondary-error"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" color="secondary-error"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" label="Secondary success button disabled" color="secondary-success"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" color="secondary-success"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" label="Secondary contrast button disabled" color="secondary-contrast"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" color="secondary-contrast"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" label="Tertiary button disabled" color="tertiary"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" color="tertiary"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" label="Tertiary error button disabled" color="tertiary-error"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" color="tertiary-error"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" label="Tertiary success button disabled" color="tertiary-success"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" color="tertiary-success"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" label="Tertiary contrast button disabled" color="tertiary-contrast"></jeff-dev-button>
    <jeff-dev-button icon="pi pi-search" [disabled]="true" color="tertiary-contrast"></jeff-dev-button>
</div>